
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
  .site-name {
    padding-top: 160px;
    margin-left: 10%;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
#logo{
  padding-right: 65%;
}
*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
*{
    padding: 0;
    margin: 0;
}
.overlay{
    height: inherit;
    background-color: rgba(0,0,0,0.3);
}

.fullBackground {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.site-name {
  margin-top: 25%;
  margin-left: 10%;
}
#site-name{
  background-color: orange;
}
.slogan{
  margin-left: 10%;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
}
.about {
  font-family: Verdana, sans-serif;
  font-size: 22px;
  color: #fff;
  margin: 2%;
  background-color: #78909c;
  text-align: center;
}
.about p {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
#more {
  display: none;
}
.about-left {
  background-repeat: no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 350px;
  position: relative;
  left: 4%;
  top: 20%;
  z-index: 9;
}
.about-right {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-right: 4em;
  padding-left: 4em;
  border-top-color: rgb(59, 232, 176);
  border-top-style: solid;
  border-top-width: 5px;
  border-right-color: rgb(59, 232, 176);
  border-right-style: solid;
  border-right-width: 5px;
  border-bottom-color: rgb(59, 232, 176);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-left-color: rgb(59, 232, 176);
  border-left-style: solid;
  border-left-width: 5px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.about-title {
  padding-top: 6%;
}